{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/favicon.jpg" class="img-circle" height="100%" width="100%" />
        </a>
    </header>
    <div class="description-style">
        {{ site.data.description }}
    </div>
</div>

<!-- 最近更新 -->
<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit: 5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

